require "spec"
require "../src/*"

describe "<%-= to_capitalized(@json["exercise"].to_s) %>" do
    <%- @json["cases"].as_a.each do |cases| %>
        <%- unless cases["description"].as_s.includes?("199") -%>
            <%= status()%> "<%-= cases["description"] %>" do
                puzzle = <%= cases["input"]["puzzle"].inspect %>
                solution = <%= cases["expected"].inspect.gsub("nil", "Hash(Char, Int32).new").gsub("\"", "'") %>
                <%= to_capitalized(@json["exercise"].to_s) %>.<%= cases["property"] %>(puzzle).should eq(solution)
            end
        <% end %>
    <% end %>
end
