require "spec"
require "../src/*"

describe "<%-= to_capitalized(@json["exercise"].to_s) %>" do
    <%- @json["cases"].as_a.each do |describe| %>
        describe "<%= describe["description"].to_s %>" do
            <%- describe["cases"].as_a.first["cases"].as_a.each do |cases| %>
                <%= status()%> "<%-= cases["description"] %>" do
                    <%= to_capitalized(@json["exercise"].to_s) %>.recite(start_bottles: <%= cases["input"]["startBottles"].inspect %>, take_down: <%= cases["input"]["takeDown"].inspect %>).should eq(<%= cases["expected"].to_s.gsub("\",", "\",\n").gsub("[", "[\n") %>)
                end
            <% end %>
        end
    <% end %>
end
