require "spec"
require "../src/*"

describe <%= to_capitalized(@json["exercise"].to_s).inspect %> do
    <% @json["cases"].as_a.each do |cases| %>
        <%= status()%> "<%-= cases["description"] %>" do
            <%= to_capitalized(@json["exercise"].to_s) %>.<%= to_snake(cases["property"].to_s) %>(<%= cases["input"]["rows"].inspect.gsub("[]", "[] of String").gsub("[\"", "[\n\"").gsub(", ", ",\n") %>).should eq(<%= cases["expected"].inspect.gsub("[\"", "[\n\"").gsub(", ", ",\n") %>)
        end
    <% end %>
end
