require "spec"
require "../src/*"

describe "<%-= to_capitalized(@json["exercise"].to_s) %>" do
    <%- @json["cases"].as_a.each do |describe| %>
        describe "<%= describe["description"].to_s %>" do
            <%- describe["cases"].as_a.each do |cases| %>
                <% if cases["property"]? %>
                    <%= status()%> "<%= cases["description"].to_s %>" do
                        <% if cases["property"].to_s == "abs" %>
                            RationalNumbers.abs(<%= cases["input"]["r"].to_s.gsub({'[' => '{', ']' => '}'}) %>).should eq(<%= cases["expected"].to_s.gsub({'[' => '{', ']' => '}'}) %>)
                        <% end %>
                        <% if cases["property"].to_s == "exprational" %>
                            RationalNumbers.exp(<%= cases["input"]["r"].to_s.gsub({'[' => '{', ']' => '}'}) %>, <%= cases["input"]["n"].to_s %>).should eq(<%= cases["expected"].to_s.gsub({'[' => '{', ']' => '}'}) %>)
                        <% end %>
                        <% if cases["property"].to_s == "expreal" %>
                            RationalNumbers.exp(<%= cases["input"]["x"] %>, <%= cases["input"]["r"].to_s.gsub({'[' => '{', ']' => '}'}) %>).should be_close(<%= cases["expected"] %>, 1e-9)
                        <% end %>
                        <% if cases["property"].to_s == "reduce" %>
                            RationalNumbers.reduce(<%= cases["input"]["r"].to_s.gsub({'[' => '{', ']' => '}'}) %>).should eq(<%= cases["expected"].to_s.gsub({'[' => '{', ']' => '}'}) %>)
                        <% end %>
                    end
                <% else %>
                    describe "<%= cases["description"].to_s %>" do
                        <%- cases["cases"].as_a.each do |cases| %>
                            <%= status()%> "<%= cases["description"].to_s %>" do
                                RationalNumbers.<%= cases["property"].to_s %>(<%= cases["input"]["r1"].to_s.gsub({'[' => '{', ']' => '}'}) %>, <%= cases["input"]["r2"].to_s.gsub({'[' => '{', ']' => '}'}) %>).should eq(<%= cases["expected"].to_s.gsub({'[' => '{', ']' => '}'}) %>)
                            end
                        <% end %>
                    end
                <% end %>
            <% end %>
        end
    <% end %>
end
