require "spec"
require "../src/*"

describe "<%= to_capitalized(@json["exercise"].to_s) %>" do
<% @json["cases"].as_a.each do |describe| %>
    describe <%= describe["description"].inspect %> do
        <% describe["cases"].as_a.each do |cases| %>
            <%= status()%> "<%= cases["description"] %>" do
                <% if cases["property"] == "create" %>
                    <% if cases["expected"].as_h? %>
                        expect_raises(ArgumentError) do
                    <% end %>
                    Queen.new(<%= cases["input"]["queen"]["position"]["row"].to_s %>, <%= cases["input"]["queen"]["position"]["column"].to_s %>)
                    <% if cases["expected"].as_h? %>
                        end
                    <% end %>
                <% else %>
                    Queen.new(<%= cases["input"]["white_queen"]["position"]["row"].to_s %>, <%= cases["input"]["white_queen"]["position"]["column"].to_s %>).can_attack?(Queen.new(<%= cases["input"]["black_queen"]["position"]["row"].to_s %>, <%= cases["input"]["black_queen"]["position"]["column"].to_s %>)).should eq <%= cases["expected"].to_s %>
                <% end %>
            end
        <% end %>
    end
<% end %>
end
