require "spec"
require "../src/*"

describe "<%-= to_capitalized(@json["exercise"].to_s) %>" do
<%- @json["cases"].as_a.each do |cases| %>
    <%= status()%> "<%-= cases["description"] %>" do
        minesweeper = <%-= to_capitalized(@json["exercise"].to_s) %>.new(<%= cases["input"]["minefield"] %> of String)
        minesweeper.<%-= cases["property"].to_s.underscore %>.should eq(<%-= cases["expected"].to_s.gsub("[]", "[] of String") %> )
    end
<% end %>
end
