require "spec"
require "../src/*"

describe "<%-= to_capitalized(@json["exercise"].to_s) %>" do
<%- @json["cases"].as_a.each do |cases| %>
    <%= status()%> "<%-= cases["description"] %>" do
        numbers = <%-= cases["input"]["list"].as_a.size == 0 ? "[] of Int32" : cases["input"]["list"].as_a %>
        numbers.<%= to_snake(cases["property"].to_s)%> { |x| <%= strain(cases["input"]["predicate"].to_s)  %>} .should eq(<%= cases["expected"].as_a.size == 0 ? "[] of Int32" : cases["expected"].as_a %>)
    end
<% end %>
end
