require "spec"
require "../src/*"

describe "<%-= to_capitalized(@json["exercise"].to_s) %>" do
    <%- @json["cases"].as_a.each do |cases| %>
        <%= status()%> "<%-= cases["description"] %>" do
            input = <%= cases["input"]["rows"].inspect.gsub(/[\[,]/, &.+("\n")) %>
            <% if cases["expected"].as_h? %>
                expect_raises(ArgumentError) do
                    <%= to_capitalized(@json["exercise"].to_s) %>.convert(input)
                end
            <% else %>
                <%= to_capitalized(@json["exercise"].to_s) %>.convert(input).should eq(<%= cases["expected"].inspect %>)
            <% end %>
        end
    <% end %>
end
